*{
    margin:0, auto;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 4rem;
    color: rgb(226, 43, 174);
    font-family: 'Fredoka One', cursive;
}

main{
    margin:auto;
    max-width: 1300px;
}

.paragraf{
    font-size: 1.3rem;
    text-align: center;
    margin:auto;
}

.photo-member{
    height: 100%;
    float: left;
}
.member{
    float: left;
    background-color: black;
    width: calc(100% / 3 - 20px);
    height: 100px;
    margin: 10px;
    
}

.info-member{
    padding-top: 10px;
    padding-left: 120px;
}

.text{
    color: white;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

a{
    color: rgb(23, 224, 224);
    font-size: 1.3rem;
}












    





